*{
    margin: 0%;
    padding: 0%;
}
.parent{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.child{
    position: absolute;
    top: 20%;
    right: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(51, 255, 211);
}
p{
    padding: 2%;
    margin: auto;
}
h1{
    padding: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
